//elements
html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.container {
	max-width: 1320px;
	padding: 0 20px;
	width: 100%;
	margin: 0 auto;

	@include media ('>=desktop') {
		padding: 0 40px;
	}
}

.btn {
	@include animate(background);

	display: inline-block;
	background: $black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: $white;

	@include media ('>=tablet') {
		padding: 15px 32px;
		font-size: 20px;
	}
}

.logo {
	display: inline-block;
	width: 150px;

	@include media ('>=tablet') {
		width: 199px;
	}

	a, img {
		display: block;
	}
}

.intro-section {
	background: linear-gradient(#D2CDC6 0%, #F5F5F5 100%);
	position: relative;
	padding: 70px 0;
	display: flex;
	flex-direction: column;

	@include media(">=tablet") {
		min-height: 700px;
	}
	
	@include media(">=desktop") {
		padding: 50px 0 60px;
		min-height: 936px;
	}

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-grow: 1;
	}

	.img-holder {
		position: relative;
		max-width: 220px;
		margin: 0 auto;
		z-index: 2;

		@include media(">=phone") {
			max-width: 300px;
		}
		
		@include media(">=tablet") {
			max-width: 500px;
		}
		
		@include media(">=desktop") {
			max-width: 651px;
			margin: 27px auto 0;
		}
	}

	.title-01 {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -30px;
		transform: translate(-50%, -50%);
		z-index: 3;
		color: $brown;

		@include media(">=phone") {
			margin-top: -50px;
		}

		@include media(">=tablet") {
			margin-top: -110px;
		}
	}

	.title-02 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		margin-top: 30px;
		background: linear-gradient(0deg, #DACCBC 0%, #AFA497 100%);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		color: transparent;

		@include media(">=phone") {
			margin-top: 50px;
		}
		
		@include media(">=tablet") {
			margin-top: 60px;
		}
	}
}

.products-section {
	background: $white500;
	padding: 30px 0;
	color: $gray;
	
	@include media('>=1024px') {
		padding: 60px 0;
	}

	.container {
		max-width: 1620px;
	}

	.title-block {
		text-align: center;
		margin: 0 0 90px;
		
		h3 {
			color: $brown;
			margin: 0 0 .3em;
		}
	}

	.swiper-slide {

		&:not(.swiper-slide-active) {
			scale: .64;
			filter: blur(6.5625px);
		}

		.img-holder {
			max-width: 396px;
			margin: 0 auto;
		}
	}
}