#footer {
    background: linear-gradient(180deg, #F5F5F5 0%, #D2CDC6 100%);
	padding: 30px 0;
    font-size: 16px;

    @include media('>=tablet') {
        padding: 50px 0;
    }
    
    @include media('>=desktop') {
        padding: 80px 0 50px;
        font-size: 24px;
    }

    .container {
        max-width: 1200px;
    }

    h4 {
		color: $brown;
		margin: 0 0 .35em;
	}

	.post-block {
		font-size: 16px;
		text-align: center;
		color: $gray;

		@include media('>=1024px') {
			font-size: 20px;
		}
	}

	.btn-holder {
		margin-top: 32px;
		display: flex;
		justify-content: center;
		gap: 0 15px;
		text-align: center;
	}

    .immersion-block {
		padding: 0 0 40px;
		border-bottom: 1px solid $brown;
	}

	.columns-block {
        padding: 30px 0 0;
        font-size: 16px;
        line-height: 1;
        color: $brown;
		
        .container {            
            text-align: center;

            @include media('>=768px') {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 0 30px;
            }
        }

        .logo-column {
            margin: 0 0 20px;

            @include media('>=768px') {
                margin: 0;
            }

            .logo {
                
                @include media('<=768px') {
                    margin: 0 auto;
                }
            }
        }

        .post-column {

            @include media('>=768px') {
                display: flex;
                align-items: center;
                gap: 0 17px;
            }

            p {
                margin: 0 0 1em;
                line-height: 1.3;

                @include media('>=768px') {
                    padding: 0;
                    margin: 0;
                }
            }

            .socials-links {
                @extend %listreset;

                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0 22px;

                a {
                    @include animate(opacity);

                    &:hover {
                        opacity: .7;
                    }
                }
            }
        }
	}
}
