#header {
	// --_header-height: 81px;

	padding: 20px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	border-bottom: 1px solid transparent;
	color: $black;

	@include media ('>=desktop') {
		// --_header-height: 159px;

		padding: 23px 0;
	}

	// &.fixed-position {
	// 	border-color: $black;
	// 	padding: 20px 0;
	// }

    .container {
        max-width: 1280px;
        @include media('>=desktop') {
            padding: 0 24px;
        }
    }

	.columns-block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0 10px;
	}

	#nav-bar {

		&.nav-active {

			.nav-opener {

				&:before {
					background: $black;
					transform: translate(0, 10px) rotate(-135deg);
					width: 30px;
				}

				span {
					background: $black;
					width: 0;
				}

				&:after {
					background: $black;
					transform: translate(0, -10px) rotate(135deg);
					width: 30px;
				}
			}
			
			.nav-drop {

				@include media ('<desktop') { 
					inset-inline: 0;
					opacity: 1;
					transition: opacity .3s 0s, inset 0s 0s;
				}
			}
		}

		.nav-opener {
			@include animate(background border-color);
			@include size(34px);

			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 8px 0;
			text-indent: -9999px;
			overflow: hidden;
			z-index: 9999;
			float: right;

			@include media ('>=desktop') {
				display: none;
			}

			&:before,
			&:after,
			& span {
				@include animate(background width transform);

				content: '';
				background: $black;
				width: 100%;
				height: 2px;
			}
		}

		.nav-drop {
			gap: 0 30px;
			z-index: 99;

			@include media ('<desktop') { 
				display: block;
				position: absolute;
				inset: 0 100% calc(-100vh + var(--_header-height)) -100%;
				padding: calc(var(--_header-height) + 30px) 30px;
				overflow-x: hidden;
				overflow-y: auto;
				opacity: 0;
				transition: opacity .3s 0s, inset 0s 0s;
			}

			@include media ('>=desktop') {
				display: flex;
				gap: 0 40px;
			}
		}
	}

	.menu-list {
		@extend %listreset;

		text-align: center;

		/* desktop */
		@include media ('>=desktop') {
			display: inline-flex;
			align-items: center;
			gap: 0 65px;
			border-radius: 30px;
			text-align: left;
		}

		li {
			margin: 0 0 30px;
			position: relative;

			@include media ('>=desktop') {
				margin: 0;
			}
		}

		a {
			display: inline-block;
			text-decoration: none;
			font-size: 16px;
			line-height: 1;
			background: linear-gradient(180deg, #000000 0%, #666666 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;

            &.btn {
                background: linear-gradient(180deg, #52483E 0%, #8B8782 100%);
                border-radius: 24px;
				-webkit-text-fill-color: #fff;
				text-fill-color: #fff;
				color: #fff;
            }
		}
	}

	a {
		display: inline-block;
		text-decoration: none;
		font-size: 16px;
		line-height: 1;
		background: linear-gradient(180deg, #000000 0%, #666666 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;

		&.btn {
			background: linear-gradient(180deg, #52483E 0%, #8B8782 100%);
			border-radius: 24px;
			-webkit-text-fill-color: #fff;
			text-fill-color: #fff;
			color: #fff;
		}
	}
}
