//elements
html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.container {
	max-width: 1320px;
	padding: 0 20px;
	width: 100%;
	margin: 0 auto;

	@include media ('>=desktop') {
		padding: 0 40px;
	}
}

.btn {
	@include animate(background);

	display: inline-block;
	background: $black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: $white;

	@include media ('>=tablet') {
		padding: 15px 32px;
		font-size: 20px;
	}

	&.btn-white {
		background: $white500;
		border-radius: 24px;
		padding: 14px 32px;
		border: 1px solid transparent;
  		background: linear-gradient($white500, $white500) padding-box, linear-gradient(180deg, #8B8782, #D2CDC6) border-box;
		font-size: 16px;
		color: $black;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			inset: 0;
			background: linear-gradient(180deg, #8B8782, #D2CDC6);
			opacity: 0;
			transition: all 0.4s ease;
			border-radius: 24px;
		}

		&:hover {

			&:before {
				opacity: 1;
			}
		}

		span {
			position: relative;
		}
	}
}

.logo {
	position: relative;
	display: flex;
	align-items: center;
	width: 140px;
	z-index: 999;

	a, img {
		display: block;
	}
}

.swiper-slide {
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.intro-section {
	background: linear-gradient(#D2CDC6 0%, #F5F5F5 100%);
	position: relative;
	padding: 70px 0;
	display: flex;
	flex-direction: column;

	@include media(">=tablet") {
		min-height: 700px;
	}
	
	@include media(">=desktop") {
		padding: 50px 0 60px;
		min-height: 936px;
	}

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-grow: 1;
	}

	.img-holder {
		position: relative;
		max-width: 220px;
		margin: 0 auto;
		z-index: 2;

		@include media(">=phone") {
			max-width: 300px;
		}
		
		@include media(">=tablet") {
			max-width: 500px;
		}
		
		@include media(">=desktop") {
			max-width: 651px;
			margin: 27px auto 0;
		}
	}

	.title-01 {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -30px;
		transform: translate(-50%, -50%);
		z-index: 3;
		color: $brown;

		@include media(">=phone") {
			margin-top: -50px;
		}

		@include media(">=tablet") {
			margin-top: -120px;
		}
	}

	.title-02 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		margin-top: 30px;
		background: linear-gradient(0deg, #DACCBC 0%, #AFA497 100%);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		color: transparent;

		@include media(">=phone") {
			margin-top: 50px;
		}
		
		@include media(">=tablet") {
			margin-top: 55px;
		}
	}
}

.products-section {
	background: $white500;
	padding: 30px 0;
	color: $gray;
	overflow: hidden;
	font-size: 16px;

	@include media('>=tablet') {
        padding: 50px 0;
    }
	
	@include media('>=desktop') {
		font-size: 24px;
		padding: 60px 0 75px;
	}

	.container {
		max-width: 1620px;
	}

	.title-block {
		text-align: center;
		margin: 0 0 90px;
		
		h3 {
			color: $brown;
			margin: 0 0 .3em;
		}
	}

	.products-swiper {
		margin: 0 -30px;
		overflow: visible;

		@include media('>=tablet') {
			margin: 0 -50px;
		}
		
		@include media('>=desktop') {
			margin: 0 -180px;
		}
	}

	.swiper-slide {

		&:not(.swiper-slide-active) {
			
			.img-holder {
				scale: .64;
				filter: blur(6.5625px);
			}
		}

		.img-holder {
			max-width: 396px;
			margin: 0 auto;
			transition: scale .5s;
		}
	}

	.custom-pagination {
		margin: 30px 0 0;
		display: flex;
		justify-content: center;
		gap: 0 20px;

		@include media('>=desktop') {
			margin: 100px 0 0;
			gap: 0 40px;
		}

		.bullet {
			@include animate(background);

			margin: 20px 0 0;
			width: 40px;
			height: 40px;
			border-radius: 100%;
			padding: 5px;

			@include media('>=desktop') {
				width: 60px;
				height: 60px;
			}

			&.bullet-active {
				border: 2px solid #52483E;
			}

			&:hover {
				border: 2px solid #52483E;
			}
		}
	}

	.pagination-text {
		margin-top: 30px;
		text-align: center;
	}
}

.features-section {
	background: $white500;
	padding: 30px 0;
	overflow: hidden;

	@include media('>=tablet') {
        padding: 50px 0;
    }

	@include media('>=desktop') {
		padding: 75px 0;
	}

	.container {
		max-width: 1200px;
	}

	br {

		@include media('<=480px') {
			display: none;
		}
	}

	.features-swiper {
		overflow: visible;
	}

	.swiper-slide {

		.post-block {

			@include media('>=tablet') {
				width: 50%;
			}
			
			h4 {
				font-weight: 500;
				line-height: 1.3;
				margin: 0;
			}
		}

		.img-block {
			max-width: 250px;

			@include media('>=phone') {
				max-width: 300px;
			}

			@include media('>=tablet') {
				width: 50%;
				max-width: 480px;
			}

			@include media('>=tablet', '<=1023px') {
				aspect-ratio: 1;
			}

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}

		&:first-child {
			
			.img-block {

				@include media('>=desktop') {
					max-width: 466px;
					margin: -35px -40px -70px;
				}
			}
		}

		&:nth-child(2) {
			
			.slide-block {

				@include media('<=tablet') {
					flex-direction: column-reverse;
					padding: 0 30px 20px;
				}
			}
			
			.img-block {

				@include media('>=desktop') {
					margin: 0 -80px auto 0;
				}
			}
		}
	}

	.slide-block {
		background: linear-gradient(180deg, #D2CDC6 0%, #F8BF93 100%);
		padding: 20px 30px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0 20px;
		flex-direction: column;
		border-radius: 24px;
		overflow: hidden;
		color: $gray500;
		min-height: 450px;

		@include media('>=phone') {
			min-height: 520px;
		}

		@include media ('>=tablet') {
			padding: 0 30px;
			flex-direction: row;
			min-height: 300px;
		}
		
		@include media('>=desktop') {
			padding: 0 80px;
		}

		@include media('>=1200px') {
			min-height: 480px;
		}
	}
}

.details-section {
	background: $white500;
	padding: 30px 0 80px;
	color: $gray;
	overflow: hidden;
	font-size: 16px;

	@include media('>=tablet') {
        padding: 50px 0 80px;
    }

	@include media('>=desktop') {
		padding: 85px 0 160px;
		font-size: 24px;
	}

	.container {
		max-width: 1200px;
	}

	.title-block {
		text-align: center;
		margin: 0 0 80px;
		
		h3 {
			color: $brown;
			margin: 0 0 .3em;
		}
	}

	.details-swiper {
		overflow: visible;
	}

	.swiper-slide {
		border-radius: 26px;
		overflow: hidden;
	}
}

.banner-section {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 40px 0;
	color: #fff;
	min-height: 800px;
	font-size: 16px;

	@include media('<=360px') {
		background-position: 45% top;
	}

	@include media('>=tablet') {
        padding: 50px 0;
    }
	
	@include media('>=desktop') {
		padding: 85px 0;
		min-height: 894px;
		font-size: 24px;
	}

	h2 {
		line-height: 1.33;
		margin: 0 0 .4em;

		@include media('>=desktop') {
			margin: 0 0 .27em;
		}
	}

	.post-block {
		text-align: center;

		.btn {
			margin-top: 13px;
		}
	}
}