<footer id="footer">
	<div class="immersion-block">
		<div class="container">
			<div class="post-block">
				<h4>Sound. Presence. Purpose.</h4>
				<p>
					Focused on crafting immersive audio experiences.<br/>
					We believe sound should not just be heard—it should move you.
				</p>
			</div>
			<div class="btn-holder">
				<a class="btn btn-white" href="#"><span>Aura Pro II</span></a>
				<a class="btn btn-white" href="#"><span>Flow II</span></a>
			</div>
		</div>
	</div>
	<div class="columns-block">
		<div class="container">
			<div class="logo-column">
				<strong class="logo"><a href="#"><img src="images/logo-resonance.svg" alt="iblades.ai&trade; | safe, effective, secure."></a></strong>
			</div>
			<div class="post-column">
				<p>© 2026 Resonance. All&nbsp;rights&nbsp;reserved.</p>
				<ul class="socials-links">
					<li><a href="#"><img src="../images/ico-discord.svg" alt="Discord"></a></li>
					<li><a href="#"><img src="../images/ico-x.svg" alt="X"></a></li>
					<li><a href="#"><img src="../images/ico-meta.svg" alt="Meta"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
