<header id="header">
	<div class="container">
		<div class="columns-block">
			<div class="logo-column">
				<strong class="logo"><a href="#"><img src="images/logo-resonance.svg" alt="iblades.ai&trade; | safe, effective, secure."></a></strong>
			</div>
			<nav id="nav-bar">
				<a class="nav-opener" href="javascript:;">
					<span class="line">Menu</span>
				</a>
				<div class="nav-drop">
					<ul class="menu-list">
						<li><a href="#">Home</a></li>
						<li><a href="#">Tech Specs</a></li>
					</ul>
					<a class="btn" href="#">Compare</a>
				</div>
			</nav>
		</div>
	</div>
</header>
